$pen_1: url(http://alinapant.ml/media/bar-graph.gif);
$pen_2: url(http://alinapant.ml/media/watermelon.png);
$pen_3: url(http://alinapant.ml/media/app.png);
$pen_4: url(http://alinapant.ml/media/robot.jpg);
$pen_5: url(http://alinapant.ml/media/pizza-trust.gif);
$pen_6: url(http://alinapant.ml/media/oblina.gif);
$pen_7: url(http://alinapant.ml/media/quote.png);
$pen_8: url(http://alinapant.ml/media/cogs-icone.gif);
$pen_9: url(http://alinapant.ml/media/zombie.gif);
$pen_10: url(http://alinapant.ml/media/maps-icone.gif);
$pen_11: url(http://alinapant.ml/media/cell-phone.gif);
$pen_12: url(http://alinapant.ml/media/tiger.png);
$pen_13: url(http://alinapant.ml/media/cry.gif);
$pen_14: url(http://alinapant.ml/media/cat-in-space.gif);

$bg_body: #FFF5EE; /* white - beige*/
$color_text: #40484b; /* gray-black*/
$grid_line: #DDC8AD; /* beige*/
$hover_project: rgba(221, 200, 173, .6); /*$grid_line = beige*/
$dot_rhombus: $grid_line; /* beige*/
$backdowns: 100px;
$font: "Open Sans";
$font_title: "Poiret One";