$pen_1: url(http://t96483hz.bget.ru/pen-img/bar-graph.gif);
$pen_2: url(http://t96483hz.bget.ru/pen-img/watermelon.png);
$pen_3: url(http://t96483hz.bget.ru/pen-img/oblina.gif);
$pen_4: url(http://t96483hz.bget.ru/pen-img/tiger.png);
$pen_5: url(http://t96483hz.bget.ru/pen-img/pizza-trust.gif);
$pen_6: url(http://t96483hz.bget.ru/pen-img/zombie.gif);
$pen_7: url(http://t96483hz.bget.ru/pen-img/laptop.png);
$pen_8: url(http://t96483hz.bget.ru/pen-img/cat-in-space.gif);
$pen_9: url(http://t96483hz.bget.ru/pen-img/wolverine.gif);
$pen_10: url(http://t96483hz.bget.ru/pen-img/iron-man.gif);
$pen_11: url(http://t96483hz.bget.ru/pen-img/react-logo.png);
$pen_12: url(http://t96483hz.bget.ru/pen-img/pencil-jar.png);
$pen_13: url(http://t96483hz.bget.ru/pen-img/maps-icone.gif);
$pen_14: url(http://t96483hz.bget.ru/pen-img/quote.png);
$pen_15: url(http://t96483hz.bget.ru/pen-img/cup-of-coffee.gif);
$pen_16: url(http://t96483hz.bget.ru/pen-img/cell-phone.gif);
$pen_17: url(http://t96483hz.bget.ru/pen-img/elm-logo.gif);
$pen_18: url(http://t96483hz.bget.ru/pen-img/cogs-icone.gif);
$pen_20: url(http://t96483hz.bget.ru/pen-img/DSC02062.jpg);
$pen_21: url(http://t96483hz.bget.ru/pen-img/dreamcatcher-1.jpg);
$pen_19: url(http://t96483hz.bget.ru/pen-img/makrame.jpg);
$bg_body: #FFF5EE; /* white - beige*/
$color_text: #40484b; /* gray-black*/
$grid_line: #DDC8AD; /* beige*/
$hover_project: rgba(221, 200, 173, .6); /*$grid_line = beige*/
$dot_rhombus: $grid_line; /* beige*/
$backdowns: 100px;
$font: "Open Sans";
$font_title: "Poiret One";