.wrap_container {
	position: relative;
	width: 100%;
	min-height: 100%;
	padding: 0 70px;
	z-index: 1;
}

.contant_wrapper {
	margin-bottom: 210px;
}

.about {
	margin-bottom: 270px;

	.rhombus {
		position: relative;

		.dot_rhombus {
			
			&:nth-child(1) {
				left: 10%;
			}
			
			&:nth-child(2) {
				right: 10%;
				bottom: 0;
			}
		}
	}

	.title {
		font-size: 50px;
		margin-bottom: 25px;
	}

	p {
		position: relative;
		padding-right: 50px;
		line-height: 30px;
		z-index: 2;
	}
}

.title {
	@include for_title;
}

.projects {
	margin-bottom: 120px;

	.title {
		position: relative;
		text-align: right;
		line-height: 37px;
		margin-bottom: 75px;
	}
}

.pen {
	@include box_align;
	width: 78%;
	margin: auto;

	&_item {
		width: 31.333%;
		margin: 0 5px 26px;
		@include box-shadow(0 0 2px 1px $grid_line);
	}

	&_img {
		display: inline-block;
		width: 100%;
		height: 270px;
		@include box_sizing;
		@include transition(all .6s ease-in);
		background-position: center center;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		margin-bottom: 3px;

		&:hover {
			-webkit-box-shadow:
				0 0 2px 2px $grid_line,
				inset 0 0 0 100vmax $hover_project;
			-moz-box-shadow:
				0 0 2px 2px $grid_line,
				inset 0 0 0 100vmax $hover_project;
			box-shadow:
				0 0 2px 2px $grid_line,
				inset 0 0 0 100vmax $hover_project;
			@include transition(all .4s ease-out);
		}

		&_1 {
			background-image: $pen_1;
		}

		&_2 {
			background-image: $pen_2;
		}

		&_3 {
			background-image: $pen_3;
		}

		&_4 {
			background-image: $pen_4;
		}

		&_5 {
			background-image: $pen_5;
		}

		&_6 {
			background-image: $pen_6;
		}

		&_7 {
			background-image: $pen_7;
		}

		&_8 {
			background-image: $pen_8;
		}

		&_9 {
			background-image: $pen_9;
		}

		&_10 {
			background-image: $pen_10;
		}

		&_11 {
			background-image: $pen_11;
		}

		&_12 {
			background-image: $pen_12;
		}

		&_13 {
			background-image: $pen_13;
		}

		&_14 {
			background-image: $pen_14;
		}
	}
}

.details {
	padding: 10px 10px 25px;
	line-height: 18px;

	.desc {
		text-transform: lowercase;
		margin-bottom: 8px;
	}

	.what_used {
		font-family: $font_title;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 22px;
	}
}

.link_spark {
	color: $color_text;
	text-shadow: .5px .5px $grid_line;
	padding-bottom: 1px;
	@include box-shadow(inset 0 -1px 0 0 $grid_line);

	&:hover {
		@include box-shadow(none);
		text-shadow: none;
		text-decoration: line-through;
	}
}

.btn {
	position: relative;
	left: 50%;
	display: inline-block;
	padding: 10px 15px;
	margin: auto;
	border: 1px solid rgba(0, 0, 0, .4);
	background: none;
	color: $color_text;
	text-transform: lowercase;
	text-align: center;
	@include transform(translateX(-50%));

	&:before,
	&:after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
	}

	&:before {
		bottom: 0;
		left: -1px;
		border-left: 1px solid $bg_body;
		border-top: 1px solid $bg_body;
		-webkit-transition: 0s ease opacity .8s,
			.2s ease width .4s,
			.2s ease height .6s;
		-o-transition: 0s ease opacity .8s,
			.2s ease width .4s,
			.2s ease height .6s;
		-moz-transition: 0s ease opacity .8s,
			.2s ease width .4s,
			.2s ease height .6s;
		transition:
			0s ease opacity .8s,
			.2s ease width .4s,
			.2s ease height .6s;
	}

	&:after {
		top: 0;
		right: -1px;
		border-right: 1px solid $bg_body;
		border-bottom: 1px solid $bg_body;
		-webkit-transition: 0s ease opacity .4s,
			.2s ease width ,
			.2s ease height .2s;
		-o-transition: 0s ease opacity .4s,
			.2s ease width ,
			.2s ease height .2s;
		-moz-transition: 0s ease opacity .4s,
			.2s ease width ,
			.2s ease height .2s;
		transition:
			0s ease opacity .4s,
			.2s ease width ,
			.2s ease height .2s;
	}

	&:hover {
		background: $color_text;
		color: $grid_line;

		&::before,
		&::after{
			height: 100%;
			width: 100%;
			opacity: 1;
		}

		&::before {
			-webkit-transition: 0s ease opacity 0s,
				.2s ease height,
				.2s ease width .2s;
			-o-transition: 0s ease opacity 0s,
				.2s ease height,
				.2s ease width .2s;
			-moz-transition: 0s ease opacity 0s,
				.2s ease height,
				.2s ease width .2s;
			transition:
				0s ease opacity 0s,
				.2s ease height,
				.2s ease width .2s;
		}

		&::after {
			-webkit-transition: 0s ease opacity .4s,
				.2s ease height .4s,
				.2s ease width .6s;
			-o-transition: 0s ease opacity .4s,
				.2s ease height .4s,
				.2s ease width .6s;
			-moz-transition: 0s ease opacity .4s,
				.2s ease height .4s,
				.2s ease width .6s;
			transition:
				0s ease opacity .4s,
				.2s ease height .4s,
				.2s ease width .6s;
		}
	}	
}