@import "compass/reset";
@import "variables";
@import "mixin";
@import "header";
@import "wrap";
@import "footer";
@import "adaptive";

* {
	@include box-sizing
}

body {
	min-height: 100%;
	font : {
		family: $font, sans-serif;
		size: 16px;
	}
	background: $bg_body;
	color: $color_text;
	letter-spacing: .8px;
	overflow-x: hidden;
}

a {
	display: inline-block;
	text-decoration: none;
	outline: none;
}

::-moz-selection{
	color: $bg_body;
	background: $color_text;
}

::selection{
	color: $bg_body;
	background: $color_text;
}

/* base, which fixed*/
.grid {
	position: fixed;
	width: 100%;
	padding: 0 65px;

	.row {
		margin-left: 0px;
		margin-right: 0px;
	}

	&_line {
		height: 0;
		border-left: 1px solid $grid_line;
	}
}

.draw_line {
	height: 100vh;
	@include transition(height .6s linear);
}

.col-xs-3 {
	padding-right: 0;
	padding-left: 0;

	&:last-child {
		border-right: 1px solid $grid_line;
	}
}

.wrap_social {
	position: fixed;
	top: 50%;
	right: 3%;
	@include transform(translateY(-50%));
	z-index: 999;

	li {
		margin: 15px 0;

		img {
			width: 30px;
			height: auto;
		}
	}
}

/* end*/