/* line 5, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* white - beige*/
/* gray-black*/
/* beige*/
/*$grid_line = beige*/
/* beige*/
/* line 1, ../sass/_header.scss */
header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin-bottom: 100px;
  z-index: 1;
}

/* line 9, ../sass/_header.scss */
.logo {
  position: relative;
  top: 30px;
  z-index: 2;
}
/* line 14, ../sass/_header.scss */
.logo .brand {
  cursor: pointer;
}
/* line 17, ../sass/_header.scss */
.logo .brand img {
  display: inline-block;
  width: 100px;
  z-index: 1;
}

/* line 25, ../sass/_header.scss */
.wrap_desc {
  position: absolute;
  top: 54%;
  left: -46px;
  line-height: 25px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Poiret One", cursive;
  -webkit-transform: rotate(-90deg) translateY(-50%);
  -moz-transform: rotate(-90deg) translateY(-50%);
  -o-transform: rotate(-90deg) translateY(-50%);
  -ms-transform: rotate(-90deg) translateY(-50%);
  transform: rotate(-90deg) translateY(-50%);
  -webkit-transition: top 0.2s linear;
  -moz-transition: top 0.2s linear;
  -o-transition: top 0.2s linear;
  transition: top 0.2s linear;
}

/* line 37, ../sass/_header.scss */
.wrap_contant {
  position: absolute;
  top: 50%;
  /* right: 65px;*/
  right: 6.5%;
  font-size: 165px;
  font-weight: 700;
  line-height: 170px;
  letter-spacing: 2px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: font-size 0.3s linear;
  -moz-transition: font-size 0.3s linear;
  -o-transition: font-size 0.3s linear;
  transition: font-size 0.3s linear;
}
/* line 51, ../sass/_header.scss */
.wrap_contant .dot_rhombus {
  top: 100px;
}

/* line 56, ../sass/_header.scss */
.dot_rhombus {
  position: absolute;
  width: 35px;
  height: 35px;
  border: 3px solid #DDC8AD;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 1, ../sass/_wrap.scss */
.wrap_container {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding: 0 70px;
  z-index: 1;
}

/* line 9, ../sass/_wrap.scss */
.contant_wrapper {
  margin-bottom: 210px;
}

/* line 13, ../sass/_wrap.scss */
.about {
  margin-bottom: 270px;
}
/* line 16, ../sass/_wrap.scss */
.about .rhombus {
  position: relative;
}
/* line 21, ../sass/_wrap.scss */
.about .rhombus .dot_rhombus:nth-child(1) {
  left: 10%;
}
/* line 25, ../sass/_wrap.scss */
.about .rhombus .dot_rhombus:nth-child(2) {
  right: 10%;
  bottom: 0;
}
/* line 32, ../sass/_wrap.scss */
.about .title {
  font-size: 50px;
  margin-bottom: 25px;
}
/* line 37, ../sass/_wrap.scss */
.about p {
  position: relative;
  padding-right: 50px;
  line-height: 30px;
  z-index: 2;
}

/* line 45, ../sass/_wrap.scss */
.title {
  font-family: "Poiret One", cursive;
  font-size: 27px;
  font-weight: 900;
}

/* line 49, ../sass/_wrap.scss */
.projects {
  margin-bottom: 120px;
}
/* line 52, ../sass/_wrap.scss */
.projects .title {
  position: relative;
  text-align: right;
  line-height: 37px;
  margin-bottom: 75px;
}

/* line 60, ../sass/_wrap.scss */
.pen {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 78%;
  margin: auto;
}
/* line 65, ../sass/_wrap.scss */
.pen_item {
  width: 31.333%;
  margin: 0 5px 26px;
  -webkit-box-shadow: 0 0 2px 1px #DDC8AD;
  -moz-box-shadow: 0 0 2px 1px #DDC8AD;
  box-shadow: 0 0 2px 1px #DDC8AD;
}
/* line 72, ../sass/_wrap.scss */
.pen .image-scroll {
  background-position: center 0;
  background-repeat: no-repeat;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  -webkit-transition: background-position 0.6s ease-in 0s;
  -moz-transition: background-position 0.6s ease-in 0s;
  -o-transition: background-position 0.6s ease-in 0s;
  transition: background-position 0.6s ease-in 0s;
}
/* line 78, ../sass/_wrap.scss */
.pen .image-scroll:hover {
  background-position: center 100% !important;
  -webkit-transition: background-position 2s ease-out 0s;
  -moz-transition: background-position 2s ease-out 0s;
  -o-transition: background-position 2s ease-out 0s;
  transition: background-position 2s ease-out 0s;
}
/* line 84, ../sass/_wrap.scss */
.pen_img {
  display: inline-block;
  width: 100%;
  height: 270px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease-in;
  -moz-transition: all 0.6s ease-in;
  -o-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
  background-position: center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 3px;
}
/* line 94, ../sass/_wrap.scss */
.pen_img_1 {
  background-image: url(http://alinapant.ml/media/bar-graph.gif);
}
/* line 98, ../sass/_wrap.scss */
.pen_img_2 {
  background-image: url(http://alinapant.ml/media/watermelon.png);
}
/* line 102, ../sass/_wrap.scss */
.pen_img_3 {
  background-image: url(http://alinapant.ml/media/app.png);
}
/* line 106, ../sass/_wrap.scss */
.pen_img_4 {
  background-image: url(http://alinapant.ml/media/robot.jpg);
}
/* line 110, ../sass/_wrap.scss */
.pen_img_5 {
  background-image: url(http://alinapant.ml/media/pizza-trust.gif);
}
/* line 114, ../sass/_wrap.scss */
.pen_img_6 {
  background-image: url(http://alinapant.ml/media/oblina.gif);
}
/* line 118, ../sass/_wrap.scss */
.pen_img_7 {
  background-image: url(http://alinapant.ml/media/quote.png);
}
/* line 122, ../sass/_wrap.scss */
.pen_img_8 {
  background-image: url(http://alinapant.ml/media/cogs-icone.gif);
}
/* line 126, ../sass/_wrap.scss */
.pen_img_9 {
  background-image: url(http://alinapant.ml/media/zombie.gif);
}
/* line 130, ../sass/_wrap.scss */
.pen_img_10 {
  background-image: url(http://alinapant.ml/media/maps-icone.gif);
}
/* line 134, ../sass/_wrap.scss */
.pen_img_11 {
  background-image: url(http://alinapant.ml/media/cell-phone.gif);
}
/* line 138, ../sass/_wrap.scss */
.pen_img_12 {
  background-image: url(http://alinapant.ml/media/tiger.png);
}
/* line 142, ../sass/_wrap.scss */
.pen_img_13 {
  background-image: url(http://alinapant.ml/media/cry.gif);
}
/* line 146, ../sass/_wrap.scss */
.pen_img_14 {
  background-image: url(http://alinapant.ml/media/cat-in-space.gif);
}

/* line 152, ../sass/_wrap.scss */
.details {
  padding: 10px 10px 25px;
  line-height: 18px;
}
/* line 156, ../sass/_wrap.scss */
.details .desc {
  text-transform: lowercase;
  margin-bottom: 8px;
}
/* line 161, ../sass/_wrap.scss */
.details .what_used {
  font-family: "Poiret One";
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 22px;
}

/* line 169, ../sass/_wrap.scss */
.link_spark {
  color: #40484b;
  text-shadow: 0.5px 0.5px #DDC8AD;
  padding-bottom: 1px;
  -webkit-box-shadow: inset 0 -1px 0 0 #DDC8AD;
  -moz-box-shadow: inset 0 -1px 0 0 #DDC8AD;
  box-shadow: inset 0 -1px 0 0 #DDC8AD;
}
/* line 175, ../sass/_wrap.scss */
.link_spark:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  text-decoration: line-through;
}

/* line 182, ../sass/_wrap.scss */
.btn {
  position: relative;
  left: 50%;
  display: inline-block;
  padding: 10px 15px;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: none;
  color: #40484b;
  text-transform: lowercase;
  text-align: center;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 195, ../sass/_wrap.scss */
.btn:before, .btn:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
/* line 204, ../sass/_wrap.scss */
.btn:before {
  bottom: 0;
  left: -1px;
  border-left: 1px solid #FFF5EE;
  border-top: 1px solid #FFF5EE;
  -webkit-transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
  -o-transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
  -moz-transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
/* line 224, ../sass/_wrap.scss */
.btn:after {
  top: 0;
  right: -1px;
  border-right: 1px solid #FFF5EE;
  border-bottom: 1px solid #FFF5EE;
  -webkit-transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
  -o-transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
  -moz-transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
  transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
}
/* line 244, ../sass/_wrap.scss */
.btn:hover {
  background: #40484b;
  color: #DDC8AD;
}
/* line 248, ../sass/_wrap.scss */
.btn:hover::before, .btn:hover::after {
  height: 100%;
  width: 100%;
  opacity: 1;
}
/* line 255, ../sass/_wrap.scss */
.btn:hover::before {
  -webkit-transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
  -o-transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
  -moz-transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
  transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}
/* line 271, ../sass/_wrap.scss */
.btn:hover::after {
  -webkit-transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
  -o-transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
  -moz-transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
  transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}

/* line 1, ../sass/_footer.scss */
footer {
  min-height: 200px;
}
/* line 4, ../sass/_footer.scss */
footer .network {
  margin-bottom: 40px;
}
/* line 9, ../sass/_footer.scss */
footer .network .col-xs-6:first-child {
  text-align: right;
}
/* line 14, ../sass/_footer.scss */
footer .network .title {
  text-align: center;
  margin-bottom: 30px;
}
/* line 19, ../sass/_footer.scss */
footer .network li {
  margin: 15px 0;
}
/* line 22, ../sass/_footer.scss */
footer .network li img {
  width: 30px;
  height: auto;
}
/* line 29, ../sass/_footer.scss */
footer .copyright {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  -moz-box-align: end;
  align-items: flex-end;
  text-align: center;
  line-height: 24px;
  padding: 20px 0 90px;
}

@media (min-width: 1600px) {
  /* line 2, ../sass/_adaptive.scss */
  .wrap_container,
  .grid {
    max-width: 1600px;
    margin: auto;
  }

  /* line 8, ../sass/_adaptive.scss */
  .grid {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  /* line 13, ../sass/_adaptive.scss */
  div.wrap_social {
    right: 8%;
  }
}
@media (max-width: 64em) {
  /* line 20, ../sass/_adaptive.scss */
  .projects .pen {
    width: 100%;
  }
  /* line 24, ../sass/_adaptive.scss */
  .projects .pen_img {
    /* width: 45%;*/
  }
}
@media (max-width: 768px) {
  /* line 31, ../sass/_adaptive.scss */
  .wrap_social {
    /* right: 6%;*/
  }

  /* line 35, ../sass/_adaptive.scss */
  .wrap_contant {
    font-size: 100px;
    line-height: 120px;
  }

  /* line 40, ../sass/_adaptive.scss */
  .pen_item {
    width: 45%;
  }
}
@media (max-width: 35em) {
  /* line 46, ../sass/_adaptive.scss */
  .logo .brand img {
    width: 84px;
  }

  /* line 50, ../sass/_adaptive.scss */
  .wrap_contant {
    font-size: 65px;
    -webkit-transition: font-size 0.3s linear;
    -moz-transition: font-size 0.3s linear;
    -o-transition: font-size 0.3s linear;
    transition: font-size 0.3s linear;
  }

  /* line 55, ../sass/_adaptive.scss */
  .wrap_desc {
    top: 82%;
    -webkit-transition: top 0.2s linear;
    -moz-transition: top 0.2s linear;
    -o-transition: top 0.2s linear;
    transition: top 0.2s linear;
  }

  /* line 60, ../sass/_adaptive.scss */
  .projects .pen_img {
    /* width: 90%;*/
  }

  /* line 64, ../sass/_adaptive.scss */
  .pen_item {
    width: 100%;
  }
}
@media (max-width: 400px) {
  /* line 70, ../sass/_adaptive.scss */
  .wrap_contant {
    right: 2%;
  }
}
/* line 9, ../sass/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../sass/style.scss */
body {
  min-height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background: #FFF5EE;
  color: #40484b;
  letter-spacing: .8px;
  overflow-x: hidden;
}

/* line 25, ../sass/style.scss */
a {
  display: inline-block;
  text-decoration: none;
  outline: none;
}

/* line 31, ../sass/style.scss */
::-moz-selection {
  color: #FFF5EE;
  background: #40484b;
}

/* line 36, ../sass/style.scss */
::selection {
  color: #FFF5EE;
  background: #40484b;
}

/* base, which fixed*/
/* line 42, ../sass/style.scss */
.grid {
  position: fixed;
  width: 100%;
  padding: 0 65px;
}
/* line 47, ../sass/style.scss */
.grid .row {
  margin-left: 0px;
  margin-right: 0px;
}
/* line 52, ../sass/style.scss */
.grid_line {
  height: 0;
  border-left: 1px solid #DDC8AD;
}

/* line 58, ../sass/style.scss */
.draw_line {
  height: 100vh;
  -webkit-transition: height 0.6s linear;
  -moz-transition: height 0.6s linear;
  -o-transition: height 0.6s linear;
  transition: height 0.6s linear;
}

/* line 63, ../sass/style.scss */
.col-xs-3 {
  padding-right: 0;
  padding-left: 0;
}
/* line 67, ../sass/style.scss */
.col-xs-3:last-child {
  border-right: 1px solid #DDC8AD;
}

/* line 72, ../sass/style.scss */
.wrap_social {
  position: fixed;
  top: 50%;
  right: 3%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 999;
}
/* line 79, ../sass/style.scss */
.wrap_social li {
  margin: 15px 0;
}
/* line 82, ../sass/style.scss */
.wrap_social li img {
  width: 30px;
  height: auto;
}

/* end*/
